<!DOCTYPE html>
<html>
<head>

<title>Cowabunga!</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" href="./resources/images/favicon.png">
<link rel="stylesheet" type="text/css" media="screen" href="./resources/css/reset.css">
<link rel="stylesheet" type="text/css" media="screen" href="./resources/css/quora-style.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

</head>

<body>
	
	<div class="main-wrapper">
		<img class="cowabunga" src="./resources/images/quora/cowabunga.gif">
		<a class="turtle-btn" href="https://www.quora.com/_/ad/749a24365658c36b72fedea71370eb43/pixel?tag=button-click">
			<div>Cowabunga!</div>
		</a>
		<img class="tracking-pixel" src="https://www.quora.com/_/ad/749a24365658c36b72fedea71370eb43/pixel?tag=page-view">
	</div>
	
</body>
</html>