{% extends "base.html" %}
{% block content %}
<!-- begin project description !-->
<div class="page-template-wrapper blog-extra full-content-fix">
  <header class="page-header">
    <div class="page-description">
	  <div id="complete-blog">
	    <!-- begin blog post !-->
		  <div class="blog-all">
            <div class="blog-main-content content-full-page">
              <div class="content-small-top">
			    <!-- start actual page content !-->
			      <div class="my-picture">
			        <img class="my-pic-fix" src="./resources/images/me-small.png" alt="This is a picture of me.">
			      </div>
			      <div class="all-about-me">

Hi! My name is Patrick Dugan and I'm currently a graduate student at the <a href="http://www.uw.edu">University of Washington</a> pursuing a degree in <a href="http://mhcid.washington.edu/">Human Computer Interaction + Design</a>. I'm also a member of the <a href="http://dub.washington.edu/">dub</a> group. Before returning to school I worked at Google in an internal development and data analytics role. 

<br><br>I’m a west-coast transplant via way of Buffalo, NY and I earned my undergraduate degree in Information Systems from the University of Washington.

<br><br>I’m especially passionate about the impacts of wearable computing devices and have been an avid Google Glass user since late 2012.
					
<br><br>In my free time I love to run, swim, bike, camp, and hike. If you’d like to learn more about me, start by checking out my <a href="./resources/resume/patdugan_resume.pdf">resume</a>, <a href="./portfolio">portfolio</a>, or <a href="https://plus.google.com/+PatDugan/posts">google+</a> page.

<!-- <div class="main-comment-click">
  <div class="comment-icon">b</div>
  <div class="comment-link">Comments</div>
</div> !-->

				<!-- end actual page content !-->
			  </div>
			</div>
		  </div>
		</div>
	  <!-- end blog post !-->
	</div>
  </div>
  </header>	
</div>
<!-- end project description !-->
{% endblock %}
