{% extends "base.html" %}
{% block content %}
<!-- begin project description !-->
<div class="page-template-wrapper blog-extra full-content-fix">
  <header class="page-header">
    <div class="page-description">
	  <div id="complete-blog">
	    <!-- begin blog post !-->
		  <div class="blog-all">
            <div class="blog-main-content content-full-page">
              <div class="content-small-top">
			    <!-- start actual page content !-->
			      <div class="my-picture">
			        <img class="my-pic-fix" src="./resources/images/me-small.png" alt="This is a picture of me.">
			      </div>
			      <div class="all-about-me">

Hi! My name is Patrick Dugan and I'm currently working as a Product Designer for <a href="http://www.nextdoor.com">Nextdoor</a> as a part of the <a href="http://www.designerfund.com">Designer Fund</a> <a href="http://designerfund.com/bridge/">Bridge</a> program.

<br><br>I'm a graduate of the <a href="http://www.uw.edu">University of Washington</a> where I studied <a href="http://mhcid.washington.edu/">Human Computer Interaction</a> and was a member of my school's <a href="http://dub.washington.edu/">design use build</a> group. Before returning to school I worked at Google in an internal development and interaction design capacity. 

<br><br>I’m a west-coast transplant via way of Buffalo, NY and in my free time I love to run, swim, bike, camp, hike, and ride my <a href="https://instagram.com/p/4A047aTPYQ/?taken-by=pdugan20">Harley</a>. If you haven't already noticed, I also really enjoy <a href="./vinyl">listening to vinyl</a>.

<br><br>If you’d like to learn more about me, start by checking out my <a href="./resources/resume/patdugan_resume.pdf">resume</a>, <a href="./portfolio">portfolio</a>, or <a href="http://blog.dailydoog.com">blog</a>. I'm also pretty active on <a href="https://twitter.com/doog">Twitter</a>, and occasionally <a href="https://medium.com/bridge-collection/embracing-the-unknown-4a3446fe9f8b">Medium</a>. If you're interested in what I've been hacking on outside of work, check out my <a href="https://github.com/pdugan20">Github</a>.

				<!-- end actual page content !-->
			  </div>
			</div>
		  </div>
		</div>
	  <!-- end blog post !-->
	</div>
  </div>
  </header>	
</div>
<!-- end project description !-->
{% endblock %}
