{% extends "base.html" %}
{% block content %}
<!-- begin project description !-->
<div class="page-template-wrapper blog-extra full-content-fix">
  <header class="page-header">
    <div class="page-description">
	  <div id="complete-blog">
	    <!-- begin blog post !-->
		  <div class="blog-all">
            <div class="blog-main-content content-full-page">
              <div class="content-small-top">
			    <!-- start actual page content !-->
			      <div class="my-picture">
			        <img class="my-pic-fix" src="./resources/images/me-small.png" alt="This is a picture of me.">
			      </div>
			      <div class="all-about-me">

Hi! My name is Patrick Dugan and I'm currently working as a Product Designer for <a href="">Nextdoor</a> as a part of the <a href="http://www.designerfund.com">Designer Fund</a> <a href="http://designerfund.com/bridge/">Bridge</a> program.

<br><br>I'm a graduate of the <a href="http://www.uw.edu">University of Washington</a> where I studied <a href="http://mhcid.washington.edu/">Human Computer Interaction</a> and was a member of my school's <a href="http://dub.washington.edu/">design use build</a> group. Before returning to school I worked at Google in an internal development and interaction design capacity. 

<br><br>I’m a west-coast transplant via way of Buffalo, NY and in my free time I love to run, swim, bike, camp, and hike.

<br><br>I also hold a strong passion for <a href="https://www.fitbit.com/user/222YYD">wearable computing devices</a> and their potential to modify behavior while promoting health and wellness. If you’d like to learn more about me, start by checking out my <a href="./resources/resume/patdugan_resume.pdf">resume</a>, <a href="./portfolio">portfolio</a>, or <a href="https://twitter.com/pdugan19">twitter</a> page.

<!-- <div class="main-comment-click">
  <div class="comment-icon">b</div>
  <div class="comment-link">Comments</div>
</div> !-->

				<!-- end actual page content !-->
			  </div>
			</div>
		  </div>
		</div>
	  <!-- end blog post !-->
	</div>
  </div>
  </header>	
</div>
<!-- end project description !-->
{% endblock %}
