<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head>

<!--[if lt IE 9]>
<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
<![endif]-->

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=.75, maximum-scale=.75" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>Daily Doog :: Portfolio of Patrick Dugan</title>

<!-- Woof! Go Huskies! -->

<!--
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWW                             WWWWWWWWW          WWWWWWWWW                      WWWWW
WWWWW                             WWWWWWWWW          WWWWWWWWW                      WWWWW
WWWWW                             WWWWWWWW           WWWWWWWWW                      WWWWW
WWWWW                             WWWWWWWW            WWWWWWWW                      WWWWW
WWWWW                             WWWWWWW             WWWWWWWW                      WWWWW
WWWWWNNNNNNW              WNNNNNNWWWWWWNW              WWWWWWWNNNNNNW       WWNNNNNWWWWWW
WWWWWWWWWWWWW             WNWWWWWWWWWWWW               WWWWWWWWWWWWWW       WWWWWWWWWWWWW
WWWWWWWWWWWWW              WWWWWWWWWWWNW                WWWWWWWWWWWW       WNWWWWWWWWWWWW
WWWWWWWWWWWWWW             WNWWWWWWWWWW                 WWWWWWWWWWWW       WWWWWWWWWWWWWW
WWWWWWWWWWWWWW              WWWWWWWWWNW                  WWWWWWWWWW       WNWWWWWWWWWWWWW
WWWWWWWWWWWWWWW             WNWWWWWWWW                   WWWWWWWWWW       WWWWWWWWWWWWWWW
WWWWWWWWWWWWWWW              WWWWWWWWW                    WWWWWWWW       WWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWW             WNWWWWWW                     WWWWWWWW       WWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWW              WWWWWW       WW              WWWWWW       WWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWW             WNWWWW       WNW             WWWWNW       WWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWW              WWWW       WNWW              WWWW       WWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWW             WNWW       WWWNW             WWNW       WWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWW              WW       WNWWWW              WW       WWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWW             WW       WWWWWNW             WW       WWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWW                     WNWWWWWW                     WWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWW                    WWWWWWWNW                    WWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWW                   WWWWWWWWWW                   WWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWW                  WWWWWWWWWNW                  WWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWW                 WWWWWWWWWWWW                 WWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWW                WWWWWWWWWWWNW               WWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWW               WWWWWWWWWWWWWW               WWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWW              WWWWWWWWWWWWWN               WWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
-->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28054051-1']);
  _gaq.push(['_setDomainName', 'dailydoog.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<link rel="shortcut icon" href="./resources/images/favicon.png">
<link rel="stylesheet" type="text/css" media="screen" href="./resources/css/style.css">
<link rel="stylesheet" type="text/css" media="all" href="./resources/css/stylecache.css" id="shortcodesstylecache-css">
{% block lightboxCss %}{% endblock %}


<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700' rel='stylesheet' type='text/css'>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
</head>

<body class="{{ bodyClass }}">

<header id="header">
	<div class="inner clearfix">
		<div id="logo-image"><a title="Daily Doog :: Portfolio of Patrick Dugan" href="/">
		<img src="./resources/images/svg/dailydoog-03.svg" alt="Daily Doog logo"></a>
		</div>		
		
		<nav id="navigation">
			<div class="menu-main-menu-container">
			  <ul id="menu" class="flow_smart_menu">
			        <li class="{{ navDict.portfolio }}">
					  <a href="./">
						<span class="menu-icon">W</span>
						<span>Portfolio</span></a>
					</li>
					<li class="{{ navDict.aboutMe }}">
						<a href="./about">
						<span class="menu-icon">f</span>
						<span>About Me</span></a>
					</li>
					<li class="{{ navDict.blog }}">
						<a href="http://blog.dailydoog.com">
						<span class="menu-icon">r</span>
						<span>Blog</span></a>
					</li>
					<li>
						<a href="./resources/resume/patdugan_resume.pdf">
						<span class="menu-icon">K</span><span>Resume</span></a>
					</li>
					<li class="{{ navDict.readingList }}">
						<a href="./books">
						<span class="menu-icon">B</span>
						<span>Reading List</span></a>
					</li>
					<li>
						<a href="mailto:dugan.pat@gmail.com">
						<span class="menu-icon">m</span>
						<span>Contact</span></a>
					</li>
				</ul>
			</div>		
		</nav>
	</div>
	
	<div class="mobile-menu-open-wrapper">
		<div class="mobile-menu-open icon-reorder">
		</div>
	</div>
</header>

<!-- <div id="blog-search-wrapper">
  <div id="search-input-wrapper">
    <form id="blogger-search-form" action="/search">
      <input id="search-input" type="text" placeholder="Search" autocomplete="off">
    </form>
  </div>
</div> !-->
		
	{% block content %}{% endblock %}

<div style="clear:both;"></div>
	<footer id="footer">
		<div class="inner">
			<div class="container_12">
				<div class="grid_12 grid_not_responsive">
					<ul class="footer-widget-container">
						<li id="text-5" class="widget widget_text"></li>
					</ul>
				</div>
				<div class="grid_12">
					<ul class="footer-widget-container">
						<li id="text-8" class="widget widget_text">
							<div class="textwidget"><hr></div>
						</li>
					</ul>
				</div>
				
				{% block footerNav %}{% endblock %}
				
				<div class="grid_6 push_6 last">
					<ul class="footer-widget-container">
						<li id="text-10" class="widget widget_text">
							<div class="textwidget">
								<ul class="footer-social-icons">
									<li><a href="https://twitter.com/pdugan19">&#xf099;</a></li>
									<li><a href="https://github.com/pdugan20">&#xf113;</a></li>
									<li><a href="https://www.facebook.com/patrick.dugan">&#xf082;</a></li>
									<li><a href="http://instagram.com/pdugan20">&#xf16d;</a></li>
									<li><a href="https://plus.google.com/+PatDugan/">&#xf0d4;</a></li>
									<li><a href="http://www.linkedin.com/in/pdugan">&#xf08c;</a></li>
									<li><a href="http://feeds.feedburner.com/dailydoog">&#xf09e;</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
				<div class="grid_6 pull_6">
					<ul class="footer-widget-container">
						<li id="text_icl-2" class="widget widget_text_icl">
							<div class="textwidget">
								<div class="copyright_notice">© 2013 Patrick Dugan. This runs on <a href="https://developers.google.com/appengine/">AppEngine</a>.</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	</footer>
		
	<div class="mobile_app_menu_main_wrapper">
		<div class="mobile_app_menu_main_wrapper_inner" 
			style="padding-right: 100px; height: 100%;">
			<div class="mobile_app_menu_main_wrapper_inner2" 
				style="width: 100%; overflow: auto; height: 100%; box-shadow: 0 0 15px rgba(0,0,0,0.25); background-color: #FFFFFF;">
										
			<div class="menu-mobile-menu-container">
				<ul id="mobile_app_menu" class="menu">
					<li class="menu-item {{ navDict.portfolio }}">
						<a href="./">
						<span class="menu-icon icon-mod-portfolio">W</span>
						<span>Portfolio</span></a>
					</li>
					<li class="{{ navDict.aboutMe }}">
						<a href="./about">
						<span class="menu-icon icon-mod-about">f</span>
						<span>About Me</span></a>
					</li>
					<li class="menu-item {{ navDict.blog }}">
						<a href="http://blog.dailydoog.com">
						<span class="menu-icon icon-mod-blog">r</span>
						<span>Blog</span></a>
					</li>
					<li class="menu-item">
						<a href="./resources/resume/patdugan_resume.pdf">
						<span class="menu-icon icon-mod-resume">K</span>
						<span>Resume</span></a>
					</li>
					<li class="menu-item {{ navDict.readingList }}">
						<a href="./books">
						<span class="menu-icon icon-mod-book">B</span>
						<span>Reading List</span></a>
					</li>
					<li class="menu-item">
						<a href="mailto:dugan.pat@gmail.com">
						<span class="menu-icon icon-mod-contact">m</span>
						<span>Contact</span></a>
					</li>
				</ul>
			</div>								
		</div>
	</div>
</div>

<script type="text/javascript" src="./resources/js/{{ interactionType }}-interactions.js"></script>
<script type="text/javascript" src="./resources/js/jscache.js"></script>
<script type="text/javascript" src="./resources/js/mobile-menu.js"></script>
<script type="text/javascript" src="./resources/js/scripts.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

{% block lightboxJs %}{% endblock %}

</body>
</html>