<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" class="no-js">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=.75, maximum-scale=.75" />
<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> !-->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- <meta name="apple-mobile-web-app-status-bar-style" content="black"> !-->
<meta name="apple-mobile-web-app-title" content="Daily Doog :: Portfolio of Patrick Dugan">
<title>Daily Doog :: Portfolio of Patrick Dugan</title>

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
<![endif]-->

<!--
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWW                             WWWWWWWWW          WWWWWWWWW                      WWWWWWWWWW
WWWWWWWWWWW                             WWWWWWWWW          WWWWWWWWW                      WWWWWWWWWW
WWWWWWWWWWW                             WWWWWWWW           WWWWWWWWW                      WWWWWWWWWW
WWWWWWWWWWW                             WWWWWWWW            WWWWWWWW                      WWWWWWWWWW
WWWWWWWWWWW                             WWWWWWW             WWWWWWWW                      WWWWWWWWWW
WWWWWWWWWWWNNNNNNW              WNNNNNNWWWWWWNW              WWWWWWWNNNNNNW       WWNNNNNWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWW             WNWWWWWWWWWWWW               WWWWWWWWWWWWWW       WWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWW              WWWWWWWWWWWNW                WWWWWWWWWWWW       WNWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWW             WNWWWWWWWWWW                 WWWWWWWWWWWW       WWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWW              WWWWWWWWWNW                  WWWWWWWWWW       WNWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWW             WNWWWWWWWW                   WWWWWWWWWW       WWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWW              WWWWWWWWW                    WWWWWWWW       WWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWW             WNWWWWWW                     WWWWWWWW       WWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWW              WWWWWW       WW              WWWWWW       WWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWW             WNWWWW       WNW             WWWWNW       WWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWW              WWWW       WNWW              WWWW       WWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWW             WNWW       WWWNW             WWNW       WWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWW              WW       WNWWWW              WW       WWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWW             WW       WWWWWNW             WW       WWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWW                     WNWWWWWW                     WWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWW                    WWWWWWWNW                    WWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWW                   WWWWWWWWWW                   WWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWW                  WWWWWWWWWNW                  WWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWW                 WWWWWWWWWWWW                 WWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWW                WWWWWWWWWWWNW               WWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWW               WWWWWWWWWWWWWW               WWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWW              WWWWWWWWWWWWWN               WWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
-->

<link rel="shortcut icon" href="./resources/images/favicon.png">
<link rel="stylesheet" type="text/css" media="screen" href="./resources/css/style.css">
<link rel="stylesheet" type="text/css" media="all" href="./resources/css/stylecache.css" id="shortcodesstylecache-css">

<link href="./resources/css/dosis.css" rel="stylesheet" type="text/css">
<link href="./resources/css/lato.css" rel="stylesheet" type="text/css">
<link href="./resources/css/opensans.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="./resources/js/jquery.js"></script>
</head>

<body class="home blog responsive flow-skin-0 daisho-portfolio body-visible" screen_capture_injected="true">

<header id="header">
	<div class="inner clearfix">
		<div id="logo-image"><a title="Daily Doog :: Portfolio of Patrick Dugan" href="http://themes.devatic.com/daisho">
		<img src="./resources/images/svg/dailydoog.svg"></a>
		</div>		
		
		<nav id="navigation">
			<div class="menu-main-menu-container">
			  <ul id="menu" class="flow_smart_menu">
					<li>
						<a href="http://themes.devatic.com/daisho/our-team/">
						<span class="menu-icon">f</span>
						<span>About Me</span></a>
					</li>
					<li>
						<a href="http://themes.devatic.com/daisho/blog/">
						<span class="menu-icon">r</span>
						<span>Blog</span></a>
					</li>
					<li class="current-menu-item current_page_item">
					  <a href="http://themes.devatic.com/daisho/blog/">
						<span class="menu-icon">W</span>
						<span>Portfolio</span></a>
					</li>
					<li>
						<a href="http://themes.devatic.com/daisho/portfolio/">
						<span class="menu-icon">K</span><span>Resume</span></a>
					</li>
					<li>
						<a href="http://themes.devatic.com/daisho/portfolio/">
						<span class="menu-icon">B</span>
						<span>My Bookshelf</span></a>
					</li>
					<li>
						<a href="http://themes.devatic.com/daisho/contact/">
						<span class="menu-icon">m</span>
						<span>Contact</span></a>
					</li>
				</ul>
			</div>		
		</nav>
	</div>
	
	<div class="mobile-menu-open-wrapper">
		<div class="mobile-menu-open icon-reorder">
		</div>
	</div>
</header>

	<div class="welcome-text">Minimalism with a dash of purple and gold</div>

	<div class="tn-grid-container clearfix">
		<section class="tn-grid-container-inner clearfix">
			<section id="options" class="clearfix">
				<ul id="filters" class="option-set clearfix" data-option-key="filter">
					<li><a href="http://themes.devatic.com/daisho/#filter"  data-option-value="*" class="selected">All Works</a></li>
					<li><a href="http://themes.devatic.com/daisho/#filter"  data-option-value=".portfolio-category-28">Identity</a></li>
					<li><a href="http://themes.devatic.com/daisho/#filter"  data-option-value=".portfolio-category-29">Motion</a></li>
					<li><a href="http://themes.devatic.com/daisho/#filter"  data-option-value=".portfolio-category-5">Photography</a></li>
					<li><a href="http://themes.devatic.com/daisho/#filter"  data-option-value=".portfolio-category-30">Print</a></li>
					<li><a href="http://themes.devatic.com/daisho/#filter"  data-option-value=".portfolio-category-31">Web Design</a></li>
				</ul>
				
				<ul id="etc" class="clearfix">
					<li id="toggle-sizes">
						
						<a href="http://themes.devatic.com/daisho/#toggle-sizes" class="toggle-selected">
							<svg version="1.1" class="toggle-sizes-large-svg" 
								xmlns="http://www.w3.org/2000/svg" 
								xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="18px" viewBox="0 0 28 18" 
								enable-background="new 0 0 28 18" xml:space="preserve">
								<g>
									<path fill-rule="evenodd" clip-rule="evenodd" fill="none" 
										d="M2,0h14c1.105,0,2,0.895,2,2V16c0,1.104-0.895,2-2,2H2 c-1.105,0-2-0.895-2-2V2C0,0.895,0.895,0,2,0z"></path>
									<path fill-rule="evenodd" clip-rule="evenodd" fill="none" 
										d="M22.001,0H26c1.105,0,2,0.895,2,2V6C28,7.104,27.105,8,26,8h-3.999 C20.895,8,20,7.104,20,6V2C20,0.895,20.895,0,22.001,0z"></path>
									<path fill-rule="evenodd" clip-rule="evenodd" fill="none" 
										d="M22.001,10H26c1.105,0,2,0.895,2,1.999V16c0,1.104-0.895,2-2,2 h-3.999C20.895,18,20,17.105,20,16V12C20,10.896,20.895,10,22.001,10z"></path>
								</g>
							</svg>						
						</a>
						
						<a href="http://themes.devatic.com/daisho/#toggle-sizes">
							<svg version="1.1" class="toggle-sizes-small-svg" 
								xmlns="http://www.w3.org/2000/svg" 
								xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="18px" viewBox="0 0 28 18" 
								enable-background="new 0 0 28 18" xml:space="preserve">
								<g>
									<path fill-rule="evenodd" clip-rule="evenodd" fill="none" 
										d="M2.001,0h4C7.104,0,8,0.895,8,2V6c0,1.104-0.896,2-1.999,2h-4 C0.896,8,0,7.104,0,6V2C0,0.895,0.896,0,2.001,0z"></path>
									<path fill-rule="evenodd" clip-rule="evenodd" fill="none" 
										d="M12,0h4.001C17.105,0,18,0.895,18,2V6c0,1.104-0.895,2-1.998,2H12 c-1.105,0-2-0.896-2-2V2C10,0.895,10.895,0,12,0z"></path>
									<path fill-rule="evenodd" clip-rule="evenodd" fill="none" 
										d="M22.001,0h4C27.104,0,28,0.895,28,2V6c0,1.104-0.896,2-1.999,2h-4 C20.896,8,20,7.104,20,6V2C20,0.895,20.896,0,22.001,0z"></path>
									<path fill-rule="evenodd" clip-rule="evenodd" fill="none" 
										d="M2.001,10h4C7.104,10,8,10.895,8,12V16c0,1.104-0.896,2-1.999,2h-4 C0.896,18,0,17.105,0,16V12C0,10.895,0.896,10,2.001,10z"></path>
									<path fill-rule="evenodd" clip-rule="evenodd" fill="none" 
										d="M12,10h4.001C17.105,10,18,10.895,18,12V16c0,1.104-0.895,2-1.998,2 H12c-1.105,0-2-0.895-2-2V12C10,10.895,10.895,10,12,10z"></path>
									<path fill-rule="evenodd" clip-rule="evenodd" fill="none" 
										d="M22.001,10h4C27.104,10,28,10.895,28,12V16c0,1.104-0.896,2-1.999,2 h-4C20.896,18,20,17.105,20,16V12C20,10.895,20.896,10,22.001,10z"></path>
								</g>
							</svg>
						</a>
					
					</li>
				</ul>
			</section>
			
			<div id="container" class="clickable variable-sizes clearfix isotope" style="position: relative; overflow: hidden; height: 775px;">
				
				<div class="element portfolio-category-28">
					<p class="number">7</p>
						<div class="thumbnail-meta-data-wrapper">
							<div class="symbol">
								<a class="thumbnail-project-link" href="http://themes.devatic.com/daisho/portfolio/bas-van-der-veer/">Bas van der Veer</a>
							</div>
						</div>
					<div class="name">Bas van der Veer</div>
					<div class="categories">Identity</div>
						<p class="id" style="display:none;">0</p>
					<div style="background-color: #d69448; width: 100%; height: 100%;" class="thumbnail-hover"></div>
						<img class="project-img project-img-visible" src="./resources/images/bg6_optimized.jpg">
					<div style="background-color: #d69448;"></div>
				</div>
				
				<div class="element portfolio-category-30" style="-webkit-transform: translate3d(675px, 0px, 0px);">
					<p class="number">2</p>
						<div class="thumbnail-meta-data-wrapper">
							<div class="symbol">
								<a class="thumbnail-project-link" href="http://themes.devatic.com/daisho/portfolio/fortaleza-2020/">Fortaleza 2020</a></div>
							</div>
						<div class="name">Olympics Committee</div>
						<div class="categories">Print</div>
							<p class="id" style="display:none;">1</p>
						<div style="background-color: #3cc0b7; width: 100%; height: 100%;" class="thumbnail-hover"></div>
							<img class="project-img project-img-visible" src="./resources/images/fortaleza_tn.png">
					<div style="background-color: #3cc0b7;"></div>
				</div>
					
				<div class="element portfolio-category-28 portfolio-category-30" style="-webkit-transform: translate3d(900px, 0px, 0px);">
					<p class="number">2</p>
						<div class="thumbnail-meta-data-wrapper">
							<div class="symbol"><a class="thumbnail-project-link" href="http://themes.devatic.com/daisho/portfolio/dandaka/">Dandaka</a></div>
						</div>
						<div class="name"></div>
						<div class="categories">Identity, Print</div>
							<p class="id" style="display:none;">2</p>
						<div style="background-color: #9fc536; width: 100%; height: 100%;" class="thumbnail-hover"></div>
							<img class="project-img project-img-visible" src="./resources/images/dandaka.jpg">
					<div style="background-color: #9fc536;"></div>
				</div>
															
						<div class="element motion web-design portfolio-category-29 portfolio-category-31   width2 height2 isotope-item" data-symbol="Mg" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(675px, 155px, 0px);">
																		<p class="number">3</p>
									<div class="thumbnail-meta-data-wrapper">
										<div class="symbol"><a class="thumbnail-project-link" href="http://themes.devatic.com/daisho/portfolio/3d-arch-deco/">3D Arch Decor</a></div>
									</div>
									<div class="name"></div>
									<div class="categories">Motion, Web Design</div>
									<p class="id" style="display:none;">3</p>
									<div style="background-color: #960d2a; width: 100%; height: 100%;" class="thumbnail-hover"></div>
																														<img class="project-img project-img-visible" src="./resources/images/bg7.jpg" alt="" style="width: auto; height: 100%; top: 0px; left: 0px;">
																												<div style="background-color: #960d2a; width: 100%; height: 100%; z-index:-2;"></div>
								</div>
															<div class="element identity portfolio-category-28   isotope-item" data-symbol="Mg" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(0px, 310px, 0px);">
																		<p class="number">2</p>
									<div class="thumbnail-meta-data-wrapper">
										<div class="symbol"><a class="thumbnail-project-link" href="http://themes.devatic.com/daisho/portfolio/mirsa/">Mirsa</a></div>
									</div>
									<div class="name"></div>
									<div class="categories">Identity</div>
									<p class="id" style="display:none;">4</p>
									<div style="background-color: #767a9e; width: 100%; height: 100%;" class="thumbnail-hover"></div>
																														<img class="project-img project-img-visible" src="./resources/images/creative_01.jpg" alt="" style="width: 100%; height: auto; left: 0px; top: -7px;">
																												<div style="background-color: #767a9e; width: 100%; height: 100%; z-index:-2;"></div>
								</div>
															<div class="element print portfolio-category-30   width2 height2 isotope-item" data-symbol="Mg" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(225px, 310px, 0px);">
																		<p class="number">3</p>
									<div class="thumbnail-meta-data-wrapper">
										<div class="symbol"><a class="thumbnail-project-link" href="http://themes.devatic.com/daisho/portfolio/7th-tea/">7th Tea</a></div>
									</div>
									<div class="name"></div>
									<div class="categories">Print</div>
									<p class="id" style="display:none;">5</p>
									<div style="background-color: #739489; width: 100%; height: 100%;" class="thumbnail-hover"></div>
																														<img class="project-img project-img-visible" src="./resources/images/bg4.jpg" alt="" style="width: auto; height: 100%; top: 0px; left: 0px;">
																												<div style="background-color: #739489; width: 100%; height: 100%; z-index:-2;"></div>
								</div>
															<div class="element photography print portfolio-category-5 portfolio-category-30   isotope-item" data-symbol="Mg" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(0px, 465px, 0px);">
																		<p class="number">2</p>
									<div class="thumbnail-meta-data-wrapper">
										<div class="symbol"><a class="thumbnail-project-link" href="http://themes.devatic.com/daisho/portfolio/maymont-park/">Maymont Park</a></div>
									</div>
									<div class="name">Maymont Park</div>
									<div class="categories">Photography, Print</div>
									<p class="id" style="display:none;">6</p>
									<div style="background-color: #c2b59b; width: 100%; height: 100%;" class="thumbnail-hover"></div>
																														<img class="project-img project-img-visible" src="./resources/images/maymont_tn.png" alt="" style="width: 100%; height: auto; left: 0px; top: -7px;">
																												<div style="background-color: #c2b59b; width: 100%; height: 100%; z-index:-2;"></div>
								</div>
															<div class="element photography print portfolio-category-5 portfolio-category-30 vertical-thumbnail  height2 isotope-item" data-symbol="Mg" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(675px, 465px, 0px);">
																		<p class="number">6</p>
									<div class="thumbnail-meta-data-wrapper">
										<div class="symbol"><a class="thumbnail-project-link" href="http://themes.devatic.com/daisho/portfolio/mirage/">Mirage</a></div>
									</div>
									<div class="name">Mirage</div>
									<div class="categories">Photography, Print</div>
									<p class="id" style="display:none;">7</p>
									<div style="background-color: #944374; width: 100%; height: 100%;" class="thumbnail-hover"></div>
																														<img class="project-img project-img-visible" src="./resources/images/bg51.png" alt="" style="width: auto; height: 100%; top: 0px; left: 0px;">
																												<div style="background-color: #944374; width: 100%; height: 100%; z-index:-2;"></div>
								</div>
															<div class="element identity portfolio-category-28   isotope-item" data-symbol="Mg" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(900px, 465px, 0px);">
									<a class="thumbnail-link" href="http://themes.devatic.com/daisho/about/"></a>									<p class="number">2</p>
									<div class="thumbnail-meta-data-wrapper">
										<div class="symbol">Let me See</div>
									</div>
									<div class="name"></div>
									<div class="categories">Identity</div>
									<p class="id" style="display:none;"></p>
									<div style="background-color: #ec897b; width: 100%; height: 100%;" class="thumbnail-hover"></div>
																														<img class="project-img project-img-visible" src="./resources/images/rocket_01.jpg" alt="" style="width: 100%; height: auto; left: 0px; top: -7px;">
																												<div style="background-color: #ec897b; width: 100%; height: 100%; z-index:-2;"></div>
								</div>
															<div class="element motion print portfolio-category-29 portfolio-category-30   isotope-item" data-symbol="Mg" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(0px, 620px, 0px);">
																		<p class="number">2</p>
									<div class="thumbnail-meta-data-wrapper">
										<div class="symbol"><a class="thumbnail-project-link" href="http://themes.devatic.com/daisho/portfolio/klassika/">Klassika</a></div>
									</div>
									<div class="name">Nfinity Shanghai</div>
									<div class="categories">Motion, Print</div>
									<p class="id" style="display:none;">8</p>
									<div style="background-color: #fb8084; width: 100%; height: 100%;" class="thumbnail-hover"></div>
																														<img class="project-img project-img-visible" src="./resources/images/koobly_01_optimized.jpg" alt="" style="width: 100%; height: auto; left: 0px; top: -7px;">
																												<div style="background-color: #fb8084; width: 100%; height: 100%; z-index:-2;"></div>
								</div>
															<div class="element print portfolio-category-30   isotope-item" data-symbol="Mg" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(225px, 620px, 0px);">
																		<p class="number">2</p>
									<div class="thumbnail-meta-data-wrapper">
										<div class="symbol"><a class="thumbnail-project-link" href="http://themes.devatic.com/daisho/portfolio/cj-options/">CJ Options</a></div>
									</div>
									<div class="name"></div>
									<div class="categories">Print</div>
									<p class="id" style="display:none;">9</p>
									<div style="background-color: #62c0c1; width: 100%; height: 100%;" class="thumbnail-hover"></div>
																														<img class="project-img project-img-visible" src="./resources/images/qmark-01.jpg" alt="" style="width: 100%; height: auto; left: 0px; top: -7px;">
																												<div style="background-color: #62c0c1; width: 100%; height: 100%; z-index:-2;"></div>
								</div>
								
								<div class="element web-design portfolio-category-31   isotope-item" data-symbol="Mg" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(450px, 620px, 0px);">
								<p class="number">2</p>
								<div class="thumbnail-meta-data-wrapper">
								<div class="symbol"><a class="thumbnail-project-link" href="http://themes.devatic.com/daisho/portfolio/shapes/">Shapes</a></div>
								</div>
								<div class="name"></div>
								<div class="categories">Web Design</div>
								<p class="id" style="display:none;">10</p>
								<div style="background-color: #91ba98; width: 100%; height: 100%;" class="thumbnail-hover"></div>
								<img class="project-img project-img-visible" src="./resources/images/sum-all-03.jpg" alt="" style="width: 100%; height: auto; left: 0px; top: -7px;">
								<div style="background-color: #91ba98; width: 100%; height: 100%; z-index:-2;"></div>
								</div>
								
															<div class="element identity print portfolio-category-28 portfolio-category-30   isotope-item" data-symbol="Mg" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(900px, 620px, 0px);">
									<a class="thumbnail-link" href="http://devatic.com/" target="_blank"></a>									<p class="number">2</p>
									<div class="thumbnail-meta-data-wrapper">
										<div class="symbol">Business Media</div>
									</div>
									<div class="name">Business Media</div>
									<div class="categories">Identity, Print</div>
									<p class="id" style="display:none;"></p>
									<div style="background-color: #edbb58; width: 100%; height: 100%;" class="thumbnail-hover"></div>
																														<img class="project-img project-img-visible" src="./resources/images/shot_1293074577.jpg" alt="" style="width: 100%; height: auto; left: 0px; top: -7px;">
																												<div style="background-color: #edbb58; width: 100%; height: 100%; z-index:-2;"></div>
								</div>
								
								
		  </div>
		</section>
	</div>

	<div style="clear:both;"></div>
	<footer id="footer">
		<div class="inner">
		  <div class="container_12">
				<div class="grid_12"><ul class="footer-widget-container">
					<div class="textwidget"><hr></div>
				</div>
				
				<div class="grid_6 push_6 last">
					<ul class="footer-widget-container">
						<li id="text-10" class="widget widget_text">
						<div class="textwidget">
							<ul class="footer-social-icons">
								<li><a href="javascript:void(null);">t</a></li>
								<li><a href="javascript:void(null);">y</a></li>
								<li><a href="javascript:void(null);">f</a></li>
								<li><a href="javascript:void(null);">g</a></li>
								<li><a href="javascript:void(null);">r</a></li>
								<li><a href="javascript:void(null);">l</a></li>
							</ul>
						</div>
						</li>
					</ul>
				</div>
				
				<div class="grid_6 pull_6">
					<ul class="footer-widget-container">
						<li id="text_icl-2" class="widget widget_text_icl">
							<div class="textwidget">
								<div class="copyright_notice">© 2013 Patrick Dugan. This runs on AppEngine.</div>
							</div>
						</li>
					</ul>
				</div>			
			
			</div>
			<div class="clear"></div>
		</div>
	</footer>
	
	<div class="mobile_app_menu_main_wrapper">
		<div class="mobile_app_menu_main_wrapper_inner" 
			style="padding-right: 100px; height: 100%;">
			<div class="mobile_app_menu_main_wrapper_inner2" 
				style="width: 100%; overflow: auto; height: 100%; box-shadow: 0 0 15px rgba(0,0,0,0.25); background-color: #FFFFFF;">
										
			<div class="menu-mobile-menu-container">
				<ul id="mobile_app_menu" class="menu">
					<li class="menu-item">
						<a href="http://themes.devatic.com/daisho/our-team/">
						<span class="menu-icon">f</span>
						<span>About Me</span></a>
					</li>
					<li class="menu-item">
						<a href="http://themes.devatic.com/daisho/blog/">
						<span class="menu-icon">r</span>
						<span>Blog</span></a>
					</li>
					<li class="current-menu-item current_page_item menu-item">
						<a href="http://themes.devatic.com/daisho/portfolio/">
						<span class="menu-icon">W</span>
						<span>Portfolio</span></a>
					</li>
					<li class="menu-item">
						<a href="http://themes.devatic.com/daisho/portfolio/">
						<span class="menu-icon">K</span>
						<span>Resume</span></a>
					</li>
					<li class="menu-item">
						<a href="http://themes.devatic.com/daisho/portfolio/">
						<span class="menu-icon">B</span>
						<span>My Bookshelf</span></a>
					</li>
					<li class="menu-item">
						<a href="http://themes.devatic.com/daisho/contact/">
						<span class="menu-icon">m</span>
						<span>Contact</span></a>
					</li>
				</ul>
			</div>							
		</div>
	</div>
</div>

<script type="text/javascript" src="./resources/js/portfolio-interactions.js"></script>
<script type="text/javascript" src="./resources/js/jscache.js"></script>
<script type="text/javascript" src="./resources/js/scripts.js"></script>
<script type="text/javascript" src="./resources/js/jquery.ui.core.min.js"></script>
<script type="text/javascript" src="./resources/js/jquery.ui.widget.min.js"></script>
<script type="text/javascript" src="./resources/js/jquery.ui.accordion.min.js"></script>
<script type="text/javascript" src="./resources/js/jquery.ui.tabs.min.js"></script>

</body>
</html>