{% extends "base.html" %}
{% block content %}
	<div class="tn-grid-container clearfix">
		<section class="tn-grid-container-inner clearfix">
			<section id="options" class="clearfix">
				<ul id="filters" class="option-set clearfix" data-option-key="filter">
					<li><a href="#filter"  data-option-value="*" class="selected">Everything</a></li>
					<li><a href="#filter"  data-option-value=".web-design">Desktop</a></li>
					<li><a href="#filter"  data-option-value=".mobile">Mobile</a></li>
					<li><a href="#filter"  data-option-value=".ixd">Interaction Design</a></li>
					<li><a href="#filter"  data-option-value=".design">Visual Design</a></li>
					<li><a href="#filter"  data-option-value=".info">Info Architecture</a></li>
				</ul>
			</section>
			
			<div id="container" class="clickable clearfix isotope" style="position: relative; overflow: hidden; height: 465px;">
				
				<!-- start dynamic portfolio squares !-->
					
				<div class="element web-design">
					<a class="thumbnail-link" href="/project?projectName=event-connect"></a>	
					<p class="number">2</p>
						<div class="thumbnail-meta-data-wrapper">
							<div class="symbol">
								<a class="thumbnail-project-link">Event Connect</a>
							</div>
						</div>
					<div class="name">Google Research</div>
					<div class="categories">Desktop Web</div>
						<p class="id" style="display:none;">0</p>
					<div style="background-color: #6e5baa; width: 100%; height: 100%;" class="thumbnail-hover"></div>
						<img class="project-img project-img-visible" src="./resources/images/projects/project-1.png" alt="Google Event Connect logo">
					<div style="background-color: #6e5baa"></div>
				</div>
				
				<div class="element web-design" style="-webkit-transform: translate3d(225px, 0px, 0px);">
					<a class="thumbnail-link" href="/project?projectName=google-wallet"></a>	
					<p class="number">2</p>
						<div class="thumbnail-meta-data-wrapper">
							<div class="symbol">
								<a class="thumbnail-project-link">Wallet Reporting Dashboard</a></div>
							</div>
						<div class="name">Google Wallet</div>
						<div class="categories">Desktop Web</div>
							<p class="id" style="display:none;">1</p>
						<div style="background-color: #6e5baa; width: 100%; height: 100%;" class="thumbnail-hover"></div>
							<img class="project-img project-img-visible" src="./resources/images/projects/project-3.png" alt="Google Wallet logo">
					<div style="background-color: #6e5baa;"></div>
				</div>
					
				<div class="element ixd" style="-webkit-transform: translate3d(450px, 0px, 0px);">
					<a class="thumbnail-link" href="/project?projectName=lm-prototypes"></a>	
					<p class="number">2</p>
						<div class="thumbnail-meta-data-wrapper">
							<div class="symbol"><a class="thumbnail-project-link">Liberty<br>Mutual.com</a></div>
						</div>
						<div class="name">Liberty Mutual Insurance</div>
						<div class="categories">Interaction Design</div>
							<p class="id" style="display:none;">2</p>
						<div style="background-color: #6e5baa; width: 100%; height: 100%;" class="thumbnail-hover"></div>
							<img class="project-img project-img-visible" src="./resources/images/projects/project-5.png" alt="Liberty Mutual logo">
					<div style="background-color: #6e5baa;"></div>
				</div>
															
			  <div class="element web-design" style="-webkit-transform: translate3d(675px, 0px, 0px);">
					<a class="thumbnail-link" href="/project?projectName=transparency-report"></a>	
					<p class="number">3</p>
						<div class="thumbnail-meta-data-wrapper">
							<div class="symbol"><a class="thumbnail-project-link">Distorted Imagery Report</a></div>
						</div>
						<div class="name"></div>
						<div class="name">Google Transparency Report</div>
						<div class="categories">Desktop Web</div>
							<p class="id" style="display:none;">3</p>
						<div style="background-color: #6e5baa; width: 100%; height: 100%;" class="thumbnail-hover"></div>
							<img class="project-img project-img-visible" src="./resources/images/projects/project-2.png" alt="Google Transparency Report logo">
					<div style="background-color: #6e5baa;"></div>
				</div>
				
				<div class="element mobile" style="-webkit-transform: translate3d(900px, 0px, 0px);">
					<a class="thumbnail-link" href="/project?projectName=usmc-pro-fitness"></a>	
					<p class="number">2</p>
						<div class="thumbnail-meta-data-wrapper">
							<div class="symbol"><a class="thumbnail-project-link">USMC <br>Android App</a></div>
						</div>
						<div class="name">United States Marine Corps</div>
						<div class="categories">Mobile</div>
							<p class="id" style="display:none;">4</p>
						<div style="background-color: #6e5baa; width: 100%; height: 100%;" class="thumbnail-hover"></div>
							<img class="project-img project-img-visible" src="./resources/images/projects/project-6.png" alt="USMC ProFitness logo">
					<div style="background-color: #6e5baa;"></div>
				</div>
															
				<div class="element wearable mobile" style="-webkit-transform: translate3d(0px, 155px, 0px);">
					<a class="thumbnail-link" href="/project?projectName=google-glass"></a>	
					<p class="number">3</p>
						<div class="thumbnail-meta-data-wrapper">
							<div class="symbol"><a class="thumbnail-project-link">UW Husky<br>Glass</a></div>
						</div>
						<div class="name">University of Washington</div>
						<div class="categories">Mobile, Research</div>
							<p class="id" style="display:none;">5</p>
						<div style="background-color: #6e5baa; width: 100%; height: 100%;" class="thumbnail-hover"></div>
							<img class="project-img project-img-visible" src="./resources/images/projects/project-4.png" alt="Google Glass logo">
					<div style="background-color: #6e5baa;"></div>
				</div>
				
				<div class="element design" style="-webkit-transform: translate3d(225px, 155px, 0px);">
					<a class="thumbnail-link" href="/project?projectName=academy-of-art"></a>	
					<p class="number">2</p>
						<div class="thumbnail-meta-data-wrapper">
							<div class="symbol"><a class="thumbnail-project-link">Collected Projects</a></div>
						</div>
						<div class="name">Academy of Art University</div>
						<div class="categories">Visual Design</div>
							<p class="id" style="display:none;">6</p>
						<div style="background-color: #6e5baa; width: 100%; height: 100%;" class="thumbnail-hover"></div>
							<img class="project-img project-img-visible" src="./resources/images/projects/project-7.png" alt="Academy of Art University logo">
					<div style="background-color: #6e5baa;"></div>
				</div>
															
				<div class="element info research" style="-webkit-transform: translate3d(450px, 155px, 0px);">
					<a class="thumbnail-link" href="/project?projectName=lm-rss"></a>	
					<p class="number">6</p>
						<div class="thumbnail-meta-data-wrapper">
							<div class="symbol"><a class="thumbnail-project-link">LM.com <br>RSS Study</a></div>
						</div>
						<div class="name">Liberty Mutual Insurance</div>
						<div class="categories">Information Architecture</div>
							<p class="id" style="display:none;">7</p>
						<div style="background-color: #6e5baa; width: 100%; height: 100%;" class="thumbnail-hover"></div>
							<img class="project-img project-img-visible" src="./resources/images/projects/project-8.png" alt="RSS logo">
					<div style="background-color: #6e5baa;"></div>
				</div>
				
				<div class="element web-design" style="-webkit-transform: translate3d(675px, 155px, 0px);">
					<a class="thumbnail-link" href="/project?projectName=mhiguera"></a>									
					<p class="number">2</p>
					<div class="thumbnail-meta-data-wrapper">
						<div class="symbol">Mhiguera.com</div>
					</div>
					<div class="name">Law Offices of Marie Higuera</div>
					<div class="categories">Desktop Web</div>
						<p class="id" style="display:none;"></p>
					<div style="background-color: #6e5baa; width: 100%; height: 100%;" class="thumbnail-hover"></div>
						<img class="project-img project-img-visible" src="./resources/images/projects/project-9.png" alt="Law Offices of Marie Higuera logo">
					<div style="background-color: #6e5baa;"></div>
				</div>
				
				<div class="element ixd" style="-webkit-transform: translate3d(900px, 155px, 0px);">
					<a class="thumbnail-link" href="/project?projectName=healthy-food" ></a>	
					<p class="number">2</p>
						<div class="thumbnail-meta-data-wrapper">
							<div class="symbol"><a class="thumbnail-project-link">Healthy Food in a Box</a></div>
						</div>
						<div class="name">UW (HCID 511 Studio)</div>
						<div class="categories">Interaction Design</div>
							<p class="id" style="display:none;">8</p>
						<div style="background-color: #6e5baa; width: 100%; height: 100%;" class="thumbnail-hover"></div>
							<img class="project-img project-img-visible" src="./resources/images/projects/project-13.png" alt="Healthy Food Box logo">
					<div style="background-color: #6e5baa;"></div>
				</div>
				
				<div class="element web-design" style="-webkit-transform: translate3d(0px, 310px, 0px);">
					<a class="thumbnail-link" href="/project?projectName=buffalo-green-art"></a>	
					<p class="number">2</p>
						<div class="thumbnail-meta-data-wrapper">
							<div class="symbol"><a class="thumbnail-project-link">Buffalo <br>Green Art</a></div>
						</div>
						<div class="name">Buffalo Green Art</div>
						<div class="categories">Desktop Web</div>
							<p class="id" style="display:none;">10</p>
						<div style="background-color: #6e5baa; width: 100%; height: 100%;" class="thumbnail-hover"></div>
							<img class="project-img project-img-visible" src="./resources/images/projects/project-12.png" alt="Buffalo Green Art logo">
					<div style="background-color: #6e5baa;"></div>
				</div>
				
				<div class="element mobile" style="-webkit-transform: translate3d(225px, 310px, 0px);">
					<a class="thumbnail-link" href="/project?projectName=mobile-claims"></a>	
					<p class="number">2</p>
						<div class="thumbnail-meta-data-wrapper">
							<div class="symbol"><a class="thumbnail-project-link">Mobile Claims App</a></div>
						</div>
						<div class="name">Liberty Mutual Insurance</div>
						<div class="categories">Mobile</div>
							<p class="id" style="display:none;">9</p>
						<div style="background-color: #6e5baa; width: 100%; height: 100%;" class="thumbnail-hover"></div>
							<img class="project-img project-img-visible" src="./resources/images/projects/project-10.png" alt="Liberty Mutual Mobile Claims logo">
					<div style="background-color: #6e5baa;"></div>
				</div>
				
				<div class="element ixd" style="-webkit-transform: translate3d(450px, 310px, 0px);">
					<a class="thumbnail-link" href="/project?projectName=a330-pfd" ></a>	
					<p class="number">2</p>
						<div class="thumbnail-meta-data-wrapper">
							<div class="symbol"><a class="thumbnail-project-link">Airbus A330 Primary Flight Display</a></div>
						</div>
						<div class="name">UW (DESIGN 383)</div>
						<div class="categories">Interaction Design</div>
							<p class="id" style="display:none;">8</p>
						<div style="background-color: #6e5baa; width: 100%; height: 100%;" class="thumbnail-hover"></div>
							<img class="project-img project-img-visible" src="./resources/images/projects/project-14.png" alt="Airbus corporate logo">
					<div style="background-color: #6e5baa;"></div>
				</div>
								
				<div class="element info research" style="-webkit-transform: translate3d(675px, 310px, 0px);">
					<a class="thumbnail-link" href="/project?projectName=lm-nav" ></a>	
					<p class="number">2</p>
						<div class="thumbnail-meta-data-wrapper">
							<div class="symbol"><a class="thumbnail-project-link">Lm.com Navigation Study</a></div>
						</div>
						<div class="name">Liberty Mutual Insurance</div>
						<div class="categories">Information Architecture</div>
							<p class="id" style="display:none;">8</p>
						<div style="background-color: #6e5baa; width: 100%; height: 100%;" class="thumbnail-hover"></div>
							<img class="project-img project-img-visible" src="./resources/images/projects/project-11.png" alt="Liberty Mutual user experience team logo">
					<div style="background-color: #6e5baa;"></div>
				</div>
				
				<div class="element ixd" style="-webkit-transform: translate3d(900px, 310px, 0px);">
					<a class="thumbnail-link" href="/project?projectName=smartcar" ></a>	
					<p class="number">2</p>
						<div class="thumbnail-meta-data-wrapper">
							<div class="symbol"><a class="thumbnail-project-link">Smart Car User-Interface</a></div>
						</div>
						<div class="name">UW (DESIGN 383)</div>
						<div class="categories">Interaction Design</div>
							<p class="id" style="display:none;">8</p>
						<div style="background-color: #6e5baa; width: 100%; height: 100%;" class="thumbnail-hover"></div>
							<img class="project-img project-img-visible" src="./resources/images/projects/project-15.png" alt="Liberty Mutual user experience team logo">
					<div style="background-color: #6e5baa;"></div>
				</div>
				
				<!-- end dynamic portfolio squares !-->				
								
		  </div>
	    </section>
      </div>
{% endblock %}