{% extends "base.html" %}
{% block content %}
<!-- begin project description !-->
<div class="page-template-wrapper">
	<header class="page-header">
		<div class="page-title">{{ projectName }}</div>
			<div class="page-description">
				<div class="content-projectc">
						<div class="project-meta">
							<div class="project-meta-data project-date clearfix">
							
								<div class="project-meta-heading">DATE</div>
								<div class="project-meta-description project-exdate">{{ projectDates }}</div>
								<div class="small-clear">
								<div class="project-meta-heading">ORGANIZATION 
								 	<span class="project-comp">{{ projectCompany }}</span>
								</div>
								<div class="project-meta-heading p-summary">PROJECT SUMMARY</div>
								<div class="project-description no-picture artifact-bottom">
								
								{% if finalScreenShotList %}
								<div class="project-v2-screenshots">
								
								<!-- start screenshots !-->
								<div class="project-meta-heading p-summary header-clear">IMAGES</div>
									<div class="popup-gallery">			      
									{% for screenshot in finalScreenShotList %}
  									<div class="screenshot-box">
  									<a href="{{ screenshot.1 }}" title="{{ screenshot.0 }}">
  									<img class="project-screen" src="{{ screenshot.2 }}" width="75" height="75"></a>
  									</div>
  									{% endfor %}
  								</div>
  								<!-- end screenshots!-->
  								
  								<!-- start artifact list !-->
  								{% if artifactList %}
  								<div class="project-meta-heading p-summary">ARTIFACTS</div>
  								<div class="project-description no-picture artifact-bottom">
	  								{% for artifact in artifactList %}
	  									<span class="external-link-icon">&#xf08e;</span>
	  									<span class="artifact-special">
	  										<a href="{{ artifact.2 }}">{{ artifact.1 }}</a>
	  									</span><br>
	  								{% endfor %}
	  							</div>
	  							{% endif %}
	  							</div>
	  							
	  							<!-- if only artifacts, no screenshots !-->
	  							{% else %}
	  							{% if artifactList %}
	  							<div class="project-v2-screenshots">
	  							<div class="project-meta-heading p-summary">ARTIFACTS</div>
  								<div class="project-description no-picture artifact-bottom">
	  								{% for artifact in artifactList %}
	  									<span class="external-link-icon">&#xf08e;</span>
	  									<span class="artifact-special">
	  										<a href="{{ artifact.2 }}">{{ artifact.1 }}</a>
	  									</span><br>
	  								{% endfor %}
	  							</div>
	  							</div>
	  							{% endif %}
	  							<!-- end only artifacts, no screenshots !-->

	  							{% endif %}
							
	  							{{ projectSummary|safe }}
	  							</div>
							
							<!--
							<div class="project-meta-heading p-artifact">ARTIFACTS & DELIVERABLES</div>
							<div class="project-description no-picture artifact-bottom">
								{% if artifactList %}
									{% for artifact in artifactList %}
										<a href="{{ artifact.2 }}">{{ artifact.1 }}</a></span><br>
									{% endfor %}
								{% else %}
									<span>Deliverables and artifacts unavailable for this project.</span>
								{% endif %}		
							</div>
							-->
						
						</div>
					</div>
				</div>
			</div>	
		</div>
	</header>	
</div>
<!-- end project description !-->
{% endblock %}

{% block lightboxJs %}
<script type="text/javascript" src="./resources/js/zepto.min.js"></script>
<script type="text/javascript" src="./resources/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="./resources/js/doog-lightbox.js"></script>
<script type="text/javascript" src="./resources/js/footer-nav.js"></script>
{% endblock %}

{% block lightboxCss %}
<link rel="stylesheet" type="text/css" media="screen" href="./resources/css/lightbox.css">
{% endblock %}

{% block footerNav %}
<div class="container_12 project-nav-footer">
  <div class="grid_12 grid_not_responsive footer-nav-div">
    
    <!-- start col 1 !-->
    <div class="footer-nav-col">
      <span class="footer-nav-title">Desktop</span>
      <ul class="footer-nav-list">
	  <li class="footer-nav-project">
		  <a href="/project?projectName=transparency-report"><span id="transparency-report">Google Transparency Report</span></a>
		</li>
		<li class="footer-nav-project">
		  <a href="/project?projectName=altschool"><span id="altschool">Altschool Teacher Console</span></a>
		</li>
		<li class="footer-nav-project">
		  <a href="/project?projectName=event-connect"><span id="event-connect">Google Event Connect</span></a>
		</li>
		<li class="footer-nav-project">
		  <a href="/project?projectName=mhiguera"><span id="mhiguera">Marie Higuera Law</span></a>
		</li>
		<li class="footer-nav-project">
		  <a href="/project?projectName=nextdoor-events"><span id="nextdoor-events">Nextdoor Events</span></a>
		</li>
      </ul>
    </div>
    <!-- end col 1 !-->
    
    <!-- start col 3 !-->
    <div class="footer-nav-col">
      <span class="footer-nav-title">Mobile</span>
      <ul class="footer-nav-list">
    <li class="footer-nav-project">
		  <a href="/project?projectName=tweak-the-tweet"><span id="tweak-the-tweet">Twitter Crisis Response</span></a>
		</li>
	  <li class="footer-nav-project">
		  <a href="/project?projectName=mobile-claims"><span id="mobile-claims">Liberty Mutual Mobile</span></a>
		</li>
		<li class="footer-nav-project">
		  <a href="/project?projectName=usmc-pro-fitness"><span id="usmc-pro-fitness">USMC Pro-Fitness</span></a>
		</li>
		<li class="footer-nav-project">
		  <a href="/project?projectName=flex-app"><span id="flex-app">Flex Fitness</span></a>
		</li>
      </ul>
    </div>
    <!-- end col 3 !-->
    
        <!-- start col 2 !-->
    <div class="footer-nav-col">
      <span class="footer-nav-title">Interaction</span>
      <ul class="footer-nav-list">
    <li class="footer-nav-project">
		  <a href="/project?projectName=mhcid-prototyping"><span id="mhcid-prototyping">MHCI+D Prototyping Studio</span></a>
		</li>
    <li class="footer-nav-project">
		  <a href="/project?projectName=smartcar"><span id="smartcar">Smart Car User-Interface</span></a>
		</li>
    <li class="footer-nav-project">
		  <a href="/project?projectName=lm-prototypes"><span id="lm-prototypes">LibertyMutual.com</span></a>
		</li>
      </ul>
    </div>
    <!-- end col 2 !-->
    
    <!-- start col 4 !-->
    <div class="footer-nav-col">
      <span class="footer-nav-title">Research</span>
      <ul class="footer-nav-list">
    <li class="footer-nav-project">
		  <a href="/project?projectName=cloud-platform"><span id="cloud-platform">Google Cloud Platform</span></a>
		</li>
		<li class="footer-nav-project">
		  <a href="/project?projectName=reading"><span id="reading">UW Reading Difficulty</span></a>
		</li>
		<li class="footer-nav-project">
		  <a href="/project?projectName=google-glass"><span id="google-glass">Husky Glass</span></a>
		</li>
      </ul>
    </div>
    <!-- end col 4 !-->
    
    <!-- start col 5 !-->
    <div class="footer-nav-col footer-col-last">
      <span class="footer-nav-title">Sketching</span>
      <ul class="footer-nav-list">
	    <li class="footer-nav-project">
		  <a href="/project?projectName=academy-of-art"><span id="academy-of-art">Academy of Art</span></a>
		</li>  
      </ul>
    </div>
    <!-- end col 5 !-->
  
  </div>
  <div class="grid_12">
    <ul class="footer-widget-container">
	  <li id="text-8" class="widget widget_text">
	    <div class="textwidget"><hr></div>
	  </li>
	</ul>
  </div>
</div>
{% endblock %}
