{% extends "base.html" %}
{% block content %}
<!-- begin project description !-->
<div class="page-template-wrapper">
	<header class="page-header">
		<div class="page-title">{{ projectName }}</div>
			<div class="page-description">
				<div class="content-projectc">
						<div class="project-meta">
							<div class="project-meta-data project-date clearfix">
								<div class="project-meta-heading">DATE</div>
								<div class="project-meta-description project-exdate">{{ projectDates }}</div>
								<div class="small-clear">
								<div class="project-meta-heading">ORGANIZATION 
								  <span class="project-comp">{{ projectCompany }}</span>
								</div>
								<div class="project-meta-description project-exclient"></div>
								</div>
							</div>
						</div>
						
				    <div class="project-meta-heading p-artifact p-summary">PROJECT SUMMARY</div>
					<div class="project-description no-picture">{{ projectSummary|safe }}</div>
					
					<div class="project-meta-heading p-artifact p-summary">DESIGN PROCESS FOLLOWED</div>
					<div class="project-description no-picture">
{% if projectDesignProcess %}
  {{ projectDesignProcess|safe }}
{% else %}
  I'm still typing up the design process that was used for this particular project.				
{% endif %}					
					</div>
					
					<div class="project-meta-heading p-artifact p-summary">SCREENSHOTS</div>
					<div class="project-description no-picture">
					      <div class="popup-gallery">			      
{% if finalScreenShotList %}
  {% for screenshot in finalScreenShotList %}
  <a href="{{ screenshot.1 }}" title="{{ screenshot.0 }}"><img class="project-screen" src="{{ screenshot.2 }}" width="75" height="75"></a>
  {% endfor %}
{% else %}
  Screenshots are unavailable for this project.
{% endif %}
					      </div>
      				</div>
      				
      				<div class="project-meta-heading p-artifact">ARTIFACTS & DELIVERABLES</div>
					<div class="project-description no-picture artifact-space-bottom">
{% if artifactList %}
  {% for artifact in artifactList %}
  <div class="deliverable-item">
  <span class="artifact-icon">{{ artifact.0 }}</span><span class="deliverable-title"><a href="{{ artifact.2 }}">{{ artifact.1 }}</a></span>
  </div>
  {% endfor %}
{% else %}
  Deliverables and artifacts unavailable for this project.
{% endif %}					
					
					</div>
      				
				</div>	
			</div>
		</header>	
	</div>
	<!-- end project description !-->
{% endblock %}

{% block lightboxJs %}
<script type="text/javascript" src="./resources/js/zepto.min.js"></script>
<script type="text/javascript" src="./resources/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="./resources/js/doog-lightbox.js"></script>
{% endblock %}

{% block lightboxCss %}
<link rel="stylesheet" type="text/css" media="screen" href="./resources/css/lightbox.css">
{% endblock %}
