<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" class="no-js">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=.75, maximum-scale=.75" />
<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> !-->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- <meta name="apple-mobile-web-app-status-bar-style" content="black"> !-->
<meta name="apple-mobile-web-app-title" content="Daily Doog :: Portfolio of Patrick Dugan">
<title>Daily Doog :: Portfolio of Patrick Dugan</title>

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
<![endif]-->

<!--
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWW                             WWWWWWWWW          WWWWWWWWW                      WWWWWWWWWW
WWWWWWWWWWW                             WWWWWWWWW          WWWWWWWWW                      WWWWWWWWWW
WWWWWWWWWWW                             WWWWWWWW           WWWWWWWWW                      WWWWWWWWWW
WWWWWWWWWWW                             WWWWWWWW            WWWWWWWW                      WWWWWWWWWW
WWWWWWWWWWW                             WWWWWWW             WWWWWWWW                      WWWWWWWWWW
WWWWWWWWWWWNNNNNNW              WNNNNNNWWWWWWNW              WWWWWWWNNNNNNW       WWNNNNNWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWW             WNWWWWWWWWWWWW               WWWWWWWWWWWWWW       WWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWW              WWWWWWWWWWWNW                WWWWWWWWWWWW       WNWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWW             WNWWWWWWWWWW                 WWWWWWWWWWWW       WWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWW              WWWWWWWWWNW                  WWWWWWWWWW       WNWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWW             WNWWWWWWWW                   WWWWWWWWWW       WWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWW              WWWWWWWWW                    WWWWWWWW       WWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWW             WNWWWWWW                     WWWWWWWW       WWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWW              WWWWWW       WW              WWWWWW       WWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWW             WNWWWW       WNW             WWWWNW       WWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWW              WWWW       WNWW              WWWW       WWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWW             WNWW       WWWNW             WWNW       WWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWW              WW       WNWWWW              WW       WWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWW             WW       WWWWWNW             WW       WWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWW                     WNWWWWWW                     WWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWW                    WWWWWWWNW                    WWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWW                   WWWWWWWWWW                   WWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWW                  WWWWWWWWWNW                  WWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWW                 WWWWWWWWWWWW                 WWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWW                WWWWWWWWWWWNW               WWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWW               WWWWWWWWWWWWWW               WWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWW              WWWWWWWWWWWWWN               WWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
-->

<title>Daily Doog :: Portfolio of Patrick Dugan</title>

<link rel="shortcut icon" href="./resources/images/favicon.png">
<link rel="stylesheet" type="text/css" media="screen" href="./resources/css/style.css">
<link rel="stylesheet" type="text/css" media="all" href="./resources/css/stylecache.css" id="shortcodesstylecache-css">

<link href="./resources/css/dosis.css" rel="stylesheet" type="text/css">
<link href="./resources/css/lato.css" rel="stylesheet" type="text/css">
<link href="./resources/css/opensans.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="./resources/js/jquery.js"></script>
</head>

<body class="home blog responsive flow-skin-0 body-visible " screen_capture_injected="true">

<header id="header">
	<div class="inner clearfix">
		<div id="logo-image"><a title="Daily Doog :: Portfolio of Patrick Dugan" href="http://themes.devatic.com/daisho"><img src="./resources/images/svg/dailydoog.svg" alt="Daisho - Flexible and Responsive WordPress Theme"></a><div class="conatainer_language_selector"></div></div>		<nav id="navigation">
			<div class="menu-main-menu-container">
			
<ul id="menu" class="flow_smart_menu">
<li id="menu-item-3093" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-0"><a href="http://themes.devatic.com/daisho/our-team/"><span class="menu-icon">f</span><span>About Me</span></a></li>
<li id="menu-item-3025" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-0"><a href="http://themes.devatic.com/daisho/blog/"><span class="menu-icon">r</span><span>Blog</span></a></li>
<li id="menu-item-3435" class="current-menu-item current_page_item menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-0"><a href="http://themes.devatic.com/daisho/portfolio/"><span class="menu-icon">W</span><span>Portfolio</span></a></li>
<li id="menu-item-3435" class="current-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-0"><a href="http://themes.devatic.com/daisho/portfolio/"><span class="menu-icon">K</span><span>Resume</span></a></li>
<li id="menu-item-3435" class="current-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-0"><a href="http://themes.devatic.com/daisho/portfolio/"><span class="menu-icon">B</span><span>My Bookshelf</span></a></li>
<li id="menu-item-2456" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-0"><a href="http://themes.devatic.com/daisho/contact/"><span class="menu-icon">m</span><span>Contact</span></a></li>
</ul>

</div>		</nav>
	</div> <!-- /.inner -->
	
	<div class="mobile-menu-open-wrapper">
		<div class="mobile-menu-open icon-reorder"></div>
	</div>
</header>

<div class="page-template-wrapper">
	<header class="page-header">
		<div class="page-title">Project Title</div>
			<div class="page-description">
			
				<div class="content-projectc">

						<div class="project-meta">
							<div class="project-meta-data project-date clearfix">
								<div class="project-meta-heading">DATE</div>
								<div class="project-meta-description project-exdate">Spring 2012</div>
								<div class="small-clear">
								<div class="project-meta-heading">COMPANY</div>
								<div class="project-meta-description project-exclient">Google</div>
								</div>
							</div>

					</div>
					<!-- <h2 class="project-title">test</h2> !-->
					<div class="project-description">I spent several weekends in 2012 sketching, wire-framing, developing, and eventually launching USMC ProFitness. The application begins by prompting users to create a local profile based on their age and gender. This profile is then used to dynamically calculate a United States Marine Corps Physical Fitness Test (PFT) score using that user’s 3-mile run-time, 2 minute sit-up count, and max pull-up count as a scoring basis. I targeted android API Levels 11+ during development but also made this application backwards compatible up to Gingerbread devices.</div>
					
					<div class="project-slide project-slide-image portfolio-fs-slide" style="max-width: 100%; width: 100%;"><img class="myimage" src="http://themes.devatic.com/daisho/wp-content/uploads/2013/02/bas_006.jpg" alt=""><span style="opacity: 1;" class="project-slide-description"></div>

				</div>
						
			</div>
		</header>
		
</div> <!-- /#content -->

			<div style="clear:both;"></div>
	<footer id="footer">
		<div class="inner">
						<div class="container_12">
				<div class="grid_12 grid_not_responsive"><ul class="footer-widget-container"><li id="text-5" class="widget widget_text">			
		</li></ul></div><div class="grid_12"><ul class="footer-widget-container"><li id="text-8" class="widget widget_text">			<div class="textwidget"><hr></div>
		</li></ul></div><div class="grid_6 push_6 last"><ul class="footer-widget-container"><li id="text-10" class="widget widget_text">			<div class="textwidget"><ul class="footer-social-icons">
<li><a href="javascript:void(null);">t</a></li>
<li><a href="javascript:void(null);">y</a></li>
<li><a href="javascript:void(null);">f</a></li>
<li><a href="javascript:void(null);">g</a></li>
<li><a href="javascript:void(null);">r</a></li>
<li><a href="javascript:void(null);">l</a></li>
</ul></div>
		</li></ul></div><div class="grid_6 pull_6"><ul class="footer-widget-container"><li id="text_icl-2" class="widget widget_text_icl">        <div class="textwidget"><div class="copyright_notice">© 2013 Patrick Dugan. This runs on AppEngine.</div></div>
</li></ul></div>			</div>
			<div class="clear"></div>
		</div>
	</footer>
		
		<div class="mobile_app_menu_main_wrapper">
		<div class="mobile_app_menu_main_wrapper_inner" style="padding-right: 100px; height: 100%;">
			<div class="mobile_app_menu_main_wrapper_inner2" style="width: 100%; overflow: auto; height: 100%; box-shadow: 0 0 15px rgba(0,0,0,0.25); background-color: #FFFFFF;">
									<a class="header-back-to-blog-link " href="javascript:void(null);">
						<div class="header-back-to-blog clearfix">
							<div class="header-back-to-blog-icon"></div>
							<div class="header-back-to-blog-icon-svg">
								<svg version="1.1" class="compact-header-arrow-back-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="19.201px" height="34.2px" viewBox="0 0 19.201 34.2" enable-background="new 0 0 19.201 34.2" xml:space="preserve" style="height: 45px; width: 35px; display: block; position: absolute; top: 0; bottom: 0; margin: auto;">
									<polyline fill="none" points="17.101,2.1 2.1,17.1 17.101,32.1 "></polyline>
								</svg>
							</div>
							<div class="header-back-to-blog-message">Back</div>
						</div>
					</a>
										
				<div class="menu-mobile-menu-container"><ul id="mobile_app_menu" class="menu">
				
				<li id="menu-item-3093" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-0"><a href="http://themes.devatic.com/daisho/our-team/"><span class="menu-icon">f</span><span>About Me</span></a></li>
<li id="menu-item-3025" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-0"><a href="http://themes.devatic.com/daisho/blog/"><span class="menu-icon">r</span><span>Blog</span></a></li>
<li id="menu-item-3435" class="current-menu-item current_page_item menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-0"><a href="http://themes.devatic.com/daisho/portfolio/"><span class="menu-icon">W</span><span>Portfolio</span></a></li>
<li id="menu-item-3435" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-0"><a href="http://themes.devatic.com/daisho/portfolio/"><span class="menu-icon">K</span><span>Resume</span></a></li>
<li id="menu-item-3435" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-0"><a href="http://themes.devatic.com/daisho/portfolio/"><span class="menu-icon">B</span><span>My Bookshelf</span></a></li>
<li id="menu-item-2456" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-0"><a href="http://themes.devatic.com/daisho/contact/"><span class="menu-icon">m</span><span>Contact</span></a></li>
				
				
</ul></div>							</div>
		</div>
	</div>

<script type="text/javascript" src="./resources/js/portfolio-interactions.js"></script>
<script type="text/javascript" src="./resources/js/jscache.js"></script>
<script type="text/javascript" src="./resources/js/jquery.form.min.js"></script>
<script type="text/javascript" src="./resources/js/scripts.js"></script>
<script type="text/javascript" src="./resources/js/jquery.ui.core.min.js"></script>
<script type="text/javascript" src="./resources/js/jquery.ui.widget.min.js"></script>
<script type="text/javascript" src="./resources/js/jquery.ui.accordion.min.js"></script>
<script type="text/javascript" src="./resources/js/jquery.ui.tabs.min.js"></script>

</body></html>