I spent several months working on Event Connect as a 20% project while employed by Google. Event Connect is an application used internally by Google’s research organization in order to coordinate the creation and logistics associated with the participation of Googlers in events like conferences and tech-talks. While a member of the Event Connect team I worked specifically on an overhaul of Event Connect’s user interface. As a part of that overhaul, I additionally worked to consolidate and simplify the process of creating, volunteering for, and managing events.

<br><br>In the course of my time working with the Event Connect team I helped launch major redesigns of large portions of the application’s primary functionality. The designs I helped to implement directly lead to large gains in the overall usability and navigation of Event Connect.

<div class="project-sub-head">The problem</div>
Upon joining the Event Connect team, I was tasked primarily with refreshing the user interface of the application. Rather than just slapping on a coat of Kennedy paint however, I took a more holistic approach by first understanding the present state of Event Connect and its underlying flaws.

<br><br>Since the application had originally grown out of an internal Google hack-a-thon, it unfortunately had never been allocated a dedicated UX Googler. Aside from its dated user-interface, I quickly found that there was room for additional areas of improvement. Mainly, from a user-perspective I found it fairly difficult to:
<ul>
<li>Create a new event</li>
<li>Manage events that I had created</li>
<li>Discover interesting upcoming events</li>
<li>Express interest in volunteering for an event</li>
</ul>

<div class="project-sub-head">Defining criteria for success</div>
Having gained a better understanding of the work ahead of me, I met with the project’s PM and engineering lead to set success milestones for the visual refresh. I advocated for a focus on reducing the time it took for coordinators to create new events while also improving the surfacing of upcoming events to users searching for volunteer opportunities. We agreed as a team that an application redesign wouldn’t be considered successful without a meaningful impact on those key metrics.

<div class="project-sub-head">Moving forward</div>
Having established success criteria, I began work on a set of preliminary sketches for major components of the user-interface. I explored different methods for grouping related events and for dynamic filtering of upcoming and archived events. I additionally met with and garnered feedback from members of the core Event Connect team and individuals not on the immediate team that I identified as power-users through log analysis. I conducted semi-structured interviews with power users of the application to better understand where Event Connect fell short. I also shadowed users as they went through the process of creating new events and updating their previously created events.

<br><br>Using observations from my shadowing sessions, I proposed and prototyped in low-fidelity Balsamiq mockups, then later in higher-fidelity Fireworks mockups, a dynamic and consolidated event creation form. I additionally prototyped multiple methods of surfacing top-level events to potential volunteers.

<div class="project-sub-head">How it all turned out</div>
My final deliverables for the Event Connect team consisted of high-fidelity HTML, CSS, and JQuery based prototypes for the applications home screen, event creation screens, detailed event view screen, volunteering screens, administrative controls, and user profile screens. The redesigned portions of the application reduced the new event creation time by over half, provided context and assistance during the event creation process, increased the visibility of upcoming events, and greatly improved the process of managing Googlers who had expressed interest in volunteer roles for specific events.

<br><br>I worked closely with the lead engineer for the team to ensure that the prototypes I handed over were successfully translated into productionised Django templates.

<div class="project-sub-head">Room for future improvement</div>
Looking back, there are certainly some lingering issues I would loved to have tackled. The tooltip help-text I handed over in my final deliverable, while generally promoting increased clarity, could have been made clearer in certain instances. I regretted not having the copy cleaner and felt there was still a lot of room for improvement.

<br><br>I also regret leaning too heavily on HTML5 placeholder help text throughout the redesign. The problem with placeholder text being that, when users start entering information into a form element the help text immediately disappears. In this instance I unfortunately prioritized aesthetics over usability. Going back I believe there would be room to augment placeholder help text with inline text not dissimilar from the excellent implementation that can be found in the Google Chrome Web Store developer dashboard editing screens.

<div class="project-sub-head">Final thoughts</div>
Event Connect will always hold a special place in my heart as my first long-term 20% project. I really enjoyed working with the project’s PM, Melanie Saldana, and lead engineer, Eriel Thomas. Both of these individual taught me a great deal and treated me with the utmost respect for the entirety of the time I worked with them. I miss them both a great deal and hope I might be fortunate enough to work with them again some day in the future.