In the spring of 2012 I helped to design and build an interactive reporting solution for the Google Wallet team. The reporting dashboard I designed presented members of a global operations team with a holistic and dynamic view of account actions taken at an individual and collective level. 

<br><br>In addition to allowing for the dynamic display and filtering of aggregated operations data, the dashboard also stack-racked operations team members and assigned individual quality scores based on the number and perceived correctness of the actions they were taking.

<div class="project-sub-head">The problem</div>
For purposes of security, Google Wallet is supported by a global team of analysts who work to identify and prevent large-scale fraud. These fraud patterns are recognized in part by evaluating individually compromised Google Wallet accounts. While frontline managers of these teams were very concerned the frequency and accuracy of corrective actions being taken on potentially compromised accounts, they previously had no way to visualize or easily filter through the productivity data associated with their direct reports. 

<br><br>In order to better understand the actions their reports were taking, managers spent time manually constructing and executing queries against a relational database which they then further segmented into spreadsheets. Additionally, at an operational level, analysts had no way of accurately comparing their own actions against those of their peers.

<br><br>The team as a whole required:
<ul>
  <li>The ability for managers to view the productivity of analysts as individuals and in comparison against their peers</li>
  <li>The ability for analysts to track their own productivity on a daily, weekly, monthly, and quarterly basis</li>
  <li>The ability to have data displayed in interactive visualized forms and additionally in an exportable raw data format</li>
  <li>The ability for team members to view a dynamically generated quality score associated with the correctness of the fraud prevention actions they were taking</li>
</ul>

<div class="project-sub-head">Defining criteria for success</div>
Because I had identified the need for and proposed this project, in my discussions with front-line operations managers I was able to clearly articulate criteria for a successful reporting implementation. 

<br><br>Having gained the input of both managers and operations analysts, we reached a consensus that a final solution would need to allow for filtering not just at an individual and aggregated team level, but also across distinct offices and sub-teams within this offices. Additionally the need automatically generate quantitative comparison metrics was deemed important, but it was also critical to provide all team members with the ability to access raw data for their own manipulations.

<div class="project-sub-head">Moving forward</div>
I worked over several months with a member of the Wallet operations team to design, develop, and ultimately implement a desktop based team reporting dashboard. Working from an initial set of wireframes which received the approval of managerial stakeholders, I worked to build out both the application scoring logic and database structures before ultimately working on a polished front-end visual implementation.

<br><br>As changes were made to the design and functionality of the system, I ensured feedback from all levels of stakeholders were consistently incorporated into ongoing development during weekly team status meetings.

<div class="project-sub-head">How it all turned out</div>
The finished implementation of this project was marginally successful in that it accomplished all of the original success criteria our team had initially agreed upon. Due to the differences in both the types and frequency of fraud prevention actions taken by smaller sub-teams, in addition to a unified global view of team actions there were also unique filters built into the reporting solution to address unique edge-cases that otherwise could not have been met properly.

<br><br>Because the fundamental goals of this project were to increase the global transparency of team actions while also reducing the time taken to perform operational statistic analysis, I would rate our final solution as a success. Post-construction, fraud analysts were able to better understand their own individual contributions, and managers were able to cut the time required to generate productivity and quality statistics for their direct-reports by almost 75%.

<div class="project-sub-head">Room for future improvement</div>
Although I was happy with the way this project turned out and the role I played driving its design and development, looking back I can think of some substantial improvements I would have made.

<br><br>I spent too much time early in the project trying to accommodate every use-case through a universal interface before realizing that a better user-experience would be to provide two variations on a common interface for distinct users. Although those two distinct interfaces shared common UI elements, they were ultimately better tailored to address the niche needs of related but different sub-teams without the operations group I was designing for.

<br><br>Additionally, I would have loved to have taken more time to improve the granularity of controls for team-leads. I focused specifically on two user groups of the application, those groups being front-line managers and their direct reports. A third group positioned between managers and direct reports, team-leads, would have benefited tremendously from the ability to manipulate specific types of data regarding their peers. I failed to design for this group primarily because I transitioned too quickly into the development stages of the project before conducting enough research around the actual problems I was trying to solve.

<div class="project-sub-head">Final thoughts</div>
I learned a tremendous amount on this project from both design and development perspectives. I ultimately gained a lot of valuable experience learning to balance the needs of very different stakeholder groups. Even though I believe there was room for improvement on the final deliverables that came out of my work on this reporting solution, I was pleased with the value it delivered to the Google Wallet team.