I am currently working on a Google Glass research project with Eve Riskin and Jessica Tran in the department of Electrical Engineering at UW. Our project aims to quantify improvements in the on-field performance of University of Washington NCAA football players by leveraging live and recorded video captured with Glass as a training mechanism . 

<br><br>Additionally, my team is using Glass as a medium by which to promote a STEM curriculum to middle school students. We are accomplishing this by running interactive programs at outreach events like UW’s <a href="https://www.cs.washington.edu/openhouse">computing open house</a>.

<div class="project-sub-head">The problem</div>
The primary goal of this project is to provide the University of Washington football team with richer training and analysis materials in order to allow players to more effectively acclimate themselves with their playbook curriculum.

<br><br>The Huskies current training methodology provide players with iPads which come installed with two separate applications. One application shows static drawings of football plays, the other shows a list of videos filmed from the sidelines of each play. Neither application communicates with the other. The problem therein lies that current football players have trouble:

<ul>
<li>understanding what a football play looks like in motion</li>
<li>understanding what their individual role looks like in the context of a larger play</li>
<li>understanding the perspectives of their teammates while a play is being executed</li>
</ul>

<br><br>Additionally, the football coaching staff also have trouble effectively understanding the actions or decision making process of their players due to their limited sideline perspective and viewing angles.

<div class="project-sub-head">Defining criteria for success</div>
At the onset of this project, our team decided that we needed to build a solution that meaningfully translated interactive learning materials into more effective on-field performance. As this project is still ongoing, we are currently working with the Husky coaching staff to develop metrics by which those quantifications can be measured.

<div class="project-sub-head">Moving forward</div>
My team and I are still developing and testing solutions we believe will be useful to football coaches and their players. Having gone through several early meetings with stakeholders from the Husky football team, we quickly realized that a prime area for further enhancement was the development of interactive teaching aids using video and data captured from Google Glass.

<br><br>We also agreed upon the fact that, while we believed Glass might provide useful in other ways, that at least initially we would focus on using Glass to capture video in soft-touch helmetless practice sessions rather than in full-contact scenarios.

<br><br>My team and I are currently building out a learning platform that allows for players to view a football play’s wireframe schematic, put that schematic into motion, and then toggle the viewing perspective of the play between different offensive and defensive positions. We believe that by providing players additional context into how their teammates perform and interact with one another, that we can provide a more cohesive understanding of how plays are executed and how player’s complementary strengths are leveraged.

<div class="project-sub-head">How it all turned out</div>
Since my team and I are still designing, developing, and testing different solutions, I’ll be able to share more about our outcomes later this year.

<div class="project-sub-head">Room for future improvement</div>
An early area we’ve been able to identify for future improvement is improved communication between our research team and stakeholders from our Husky football partners. Since we have been working with the football team during their regular season, their limited time resources have slowed the development of our project. We are exploring ways to make better use of the time we do have with the football team and are also attempting to improve the facilitation of ideas between both parties.

<div class="project-sub-head">Final thoughts</div>
The cross-functional collaboration of our research team has provided me with a truly excellent learning environment. I’m currently working with students of all ages and backgrounds across my own HCI department, UW’s Computer Science department, and the school of Electrical Engineering. I have greatly enjoyed the experience so far and look forward to accomplishing a great deal in the coming quarters.