I am currently enrolled in an interactive prototyping studio <a href="http://www.washington.edu/students/crscat/hcid.html">HCID 521</a> at the University of Washington. As a part of the studios curriculum, I am required to <a href="http://blogs.uw.edu/hcid521/assignments">construct a variety of prototypes in various mediums</a> in both a group setting and on an individual basis. Additionally, I will be making <a href="http://blog.dailydoog.com/">bi-weekly updates to my blog</a> documenting my design process on these assignments. Please find below a current list of my assignments that will be updated as I complete them.

<div class="project-sub-head">Week 1: Paper Prototyping</div>
Group Exercise: <a href="http://blog.dailydoog.com/2014/01/hcid-521-week-1-assignment-1.html">Paper prototyping of a tablet-based cafe ordering application</a>
<br>Individual Assignment: <a href="http://blog.dailydoog.com/2014/01/hcid-521-week-2-assignment-1.html">Paper prototyping of a paired mobile application and smartwatch user-interface</a>

<div class="project-sub-head">Week 2: Physical Prototyping</div>
Group Exercise: <a href="http://blog.dailydoog.com/2014/01/hcid-521-week-2-assignment-3.html">Physical prototyping of an ecoATM kiosk</a>
<br>Individual Assignment: <a href="http://blog.dailydoog.com/2014/01/hcid-521-week-3-assignment-4.html">Physical prototyping of three stud-finders with consideration made to universal design principles</a>

<div class="project-sub-head">Week 3: Video Prototyping</div>
Group Exercise: N/A
<br>Individual Assignment: <a href="http://blog.dailydoog.com/2014/01/hcid-521-week-4-assignment-5.html">Video prototyping of Marine Corps fitness android application</a>