While employed as a member of Liberty Mutual’s user-experience team I helped to design and build Liberty’s first <a href="https://itunes.apple.com/us/app/liberty-mutual-mobile/id397404511?mt=8">iOS</a> and <a href="https://play.google.com/store/apps/details?id=com.lmig.pm.internet.mobile.android.libertymutual&hl=en">Android</a> applications.

<br><br>Both applications allowed current Liberty Mutual customers to manage their insurance accounts and to file automobile insurance claims. I joined Liberty’s mobile development team in late 2010 and worked first to help launch the company’s iOS app before adjusting my focus to concentrate on launching an Android variant.

<br><br>Both applications were well received in the marketplace and Liberty’s iOS application was featured as an example in a Forrester Research best-in-class mobile user-experience white paper. 

<div class="project-sub-head">The problem</div>
The problem this project aimed to solve was that Liberty Mutual was one of the last insurance companies to offer native mobile applications to their customers for account and insurance claim management purposes. Liberty Mutual’s customer demographic, while older in age, was frustrated by the fact they they couldn’t manage their insurance policies from their mobile phones. Additionally, in cases where our customers had been in a physical accident, they required the means to digitally record information about damage caused to their cars.

<div class="project-sub-head">Defining criteria for success</div>
Before beginning major development for this project, myself and another member of our user-experience team designed an initial interactive iOS prototype based on criteria we had identified and ranked as being the most important to current Liberty Mutual customers. We used that prototype in a series of user research studies to better understand the expectations of our customers and to establish baseline functionality which we would target in the first release of our application.  

<br><br>We were able to establish that a solution would need to offer users the ability to:
<ul>
<li>Record rich data associated with automobile accidents</li>
<li>Easily talk to an insurance representative regardless of a user’s location within the application</li>
<li>View and update their current insurance information</li>
<li>View the status of an insurance claim after it had been filed</li>
</ul>

We also deemed it was important to set into place tracking mechanisms so that we could establish an understanding of how many of our customers were using the application and for what purposes.

<div class="project-sub-head">Moving forward</div>
Having established success criteria, I worked with an an information architect and a small team of mobile developers to begin significant construction of our application. Our team worked through several short iterative sprints developing core functionality that we then integrated together in a cohesive fashion.

<br><br>During multiple stages of development, I contributed wireframes, requirements documents with inline annotations, and interactive clickable prototypes to our developer and business stakeholders. As developers implemented features, I also ran quality assurance tests looking for bugs and ensuring the our finished implementations aligned to my original design work.

<br><br>Prior to publicly launching our application, I helped to plan and conduct an additional round of users studies. The feedback from those studies was ultimately incorporated in a final set of usability improvements.

<div class="project-sub-head">How it all turned out</div>
Our initial iOS application launch went extremely well considering it was our first in-house mobile development release. Members of the original iOS team and myself released the Android variant of our claims app several months later to similarly positive reviews.

<div class="project-sub-head">Room for future improvement</div>
Due to time constraints, the Android application our team released was in many ways a ported version of the application we released on iOS. Looking back, there was a substantial amount of android specific functionality our team neglected to implement.

<br><br>Additionally, my team relied on webviews for specific account management functions rather than natively building features into our Android application. I would have loved to have taken additional time to build out a true native experience rather than use modified webviews as a developmental crutch.

<div class="project-sub-head">Final thoughts</div>
Looking at both applications today, I can still see evidence of my original design work. However, the applications themselves look and feel very different. Unfortunately, neither app today closely adheres to either iOS or Android design guidelines. 

<br><br>I was extremely proud to have positively impacted this project so heavily as a recent college graduate. Being as this was my first exposures to design in a professional setting, I gained a tremendous amount of experience in a very short time. 