body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #1e1c1c;
}

div.main-wrapper {
	max-width:500px;
	margin: 25px auto;
}

img.cowabunga {
	width: 500px;
}

.turtle-btn {
	text-align: center;
	font-size: 18px;
	width: 125px;
	margin: 15px auto;
	display: block;
	background-color: #339933;
	color: #FFFFFF;
	border: 1px solid #267326;
	border-radius: 2px;
	text-decoration: none;
	padding: 8px;
}